
  <div class="course-select">
    <mat-form-field>
      <mat-label>Please Select a Course</mat-label>
      <mat-select [(ngModel)]="selectedCourseId" name="course" (ngModelChange)="onCourseSelected()">
        <mat-option *ngFor="let course of courses" [value]="course.course_id">
          {{course.course_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="generate-button" (click)="onGenerateTimeTableClick()" [disabled]="!selectedCourseId ||  Errors.length > 0">Generate Timetable</button>
    </div>

  </div>
  <div class="global-error-container" *ngIf="selectedCourseId && Errors.length > 0">
    <mat-error *ngFor="let error of Errors" > {{error}}</mat-error>
  </div>
  <div *ngIf="showPreviousGeneratedWarningInfo">
    <p class="delete-info"><mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon> <span class="text"><b>Note:</b> Timetable for this course was previous generated and available in 'Previos Timetable' menu. <br> &nbsp; &nbsp; &nbsp; &nbsp;If you are generating new one, previous will be deleted automatically.</span></p>
  </div>
  <div class="container mat-elevation-z8">


    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" (contentChanged)="onTableContentChanged()">
      ng update @angular/cli @angular/core
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="subject_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="teacher_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.teacher ? row.teacher.firstname + ' ' + row.teacher.lastname: ''}}</mat-cell>
      </ng-container>


      <!-- actions -->
      <ng-container matColumnDef="hours">
        <mat-header-cell *matHeaderCellDef>
            Hours per week
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
            <mat-form-field appearance="outline">
              <input matInput #inputstate="ngModel" class="form-control" [(ngModel)]="hours[i]" name="hours" required (ngModelChange)="onChange()" (blur)="onBlur()" type="number">
            </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="dataSource?.renderedData?.length == 0 ? '' : 'none'">
      No results
    </div>
  </div>
