<div class="container">
  <h3 mat-dialog-title>Add New Subject</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.course_id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="First Name" [(ngModel)]="data.firstname" name="firstname" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Last Name" [(ngModel)]="data.lastname" name="lastname" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Select Subject</mat-label>
        <mat-select [(ngModel)]="data.subject_id" name="subject" required>
          <mat-option *ngFor="let subject of availbleSubjects" [value]="subject.subject_id">
            {{subject.name}} - {{subject?.course?.course_name}} (Year {{subject?.course?.course_year}} , Sem {{subject?.course?.course_sem}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Course Year" [(ngModel)]="data.course_year" name="yeat" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Course Semister" [(ngModel)]="data.course_sem" name="course_sem" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid">Save</button>
      <button mat-button type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
