<div class="container">
  <h3 mat-dialog-title>Course: {{data.course_name}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.course_id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Course Name" [(ngModel)]="data.course_name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Course Year</mat-label>
        <mat-select [(ngModel)]="data.course_year" name="course_year" required>
          <mat-option *ngFor="let year of course_year" [value]="year">
                {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Course Semister</mat-label>
        <mat-select [(ngModel)]="data.course_sem" name="course_sem" required>
          <mat-option *ngFor="let sem of sems" [value]="sem">
                {{sem}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="save()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
